.buttonMenu {
  display: inline-block;
  background-color: #1877f2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonMenu:hover {
  background-color: #1559a5;
}

.buttonMenu:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(24, 119, 242, 0.3);
}

.buttonMenu:active {
  background-color: #fff;
  color: #e10600;
  background-image: radial-gradient(circle, #ffde00 25%, transparent 25%),
    radial-gradient(circle, transparent 25%, #e10600 26%, transparent 50%);
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
}

.button-Container {
  position: fixed;
  top: 30px; /* Ajusta la distancia desde la parte superior según sea necesario */
  right: 20px; /* Ajusta la distancia desde el lado derecho según sea necesario */
  z-index: 9999;
}

